.box {
  width: 500px;
  /* height: 100px; */
  border: 1px solid red;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
}
.item-img {
  width: 400px;
}
.main {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.Win {
  border: 10px solid green;
  color: green;
}
.Lose {
  border: 10px solid red;
  color: red;
}
.Tie {
  border: 10px solid black;
  color: black;
}
